.shipping{

    @include flex;

    .back-btn{
        @include square(2.5rem);
        background-color: $color2;
        color: $color1;

position: fixed;
@include flex;
top:2rem;
left:2rem;
border-radius: 100%;
border: none;
cursor: pointer;
outline: none;
@include baseShadow;

svg{
    transition: all 0.4s;
}
&:hover svg{
    translate: -0.25rem;
}

    }

    form{
        max-width: 451px;
        width: 100%;
        @include flex(column ,center,stretch ,2rem);
        padding: 2rem;
        >h1{
            @include heading(1px);
            margin: 2rem;
            text-align: center;

        }
        >select,
        >input{
         outline: none;  
         border-radius: 6px;
            font-size: 1.04rem;
            padding: 1rem;
border:1px solid rgba(31,31,31,0.351) ;


        }
        >button{
            @include btn(1rem,$color3,$color1);
            border-radius: 6px;
            font-size: 1.04rem;
            text-transform: uppercase;
            letter-spacing: 2px;

            &:hover{
                opacity: 0.8;
            }

        }
    }
}